extends ../base.pug

block content
    div#detailItem-wrapper
        div#detailItem-option 
            ul
                li
                    form(method="POST", action=`/item/pinning/${item.type}/${item.id}`)
                        if item.pinned === true 
                            input(type="submit", value="핀 목록에서 삭제").pinBtn
                        if item.pinned === false
                            input(type="submit", value="핀 목록에 추가").pinBtn
                li
                    button
                        a(href=`/item/edit/${item.type}/${item.id}`) 수정
                li
                    form(method="POST", action=`/item/delete/${item.type}/${item.id}`)
                        input(type="submit", value="삭제").deleteBtn

        div#detailItem
            ul(class=`${item.type === "i" ? 'incomeBgColor' : 'expenseBgColor'}`)
                li
                    label 날짜
                    span #{item.stringDate}
                li
                    label 금액
                    span #{item.amount + ' 원'}
                li
                    label 설명
                    span=item.description
                li
                    label 분류
                    span=item.category
                li
                    label 주기
                    span=item.cycle

                if item.type === "e"
                    li
                        label 지불 방식
                        span=item.paymentMethod

                li
                    label 사진
                    span
                        if item.imageUrl !== ""
                            img(src='/' + item.imageUrl).item-image
block scripts
    script(src="/assets/js/detailItem.js") 