extends ../base.pug

block content 
    div#editItem-wrapper
        div(class=`${item.type === "i" ? 'incomeBgColor' : 'expenseBgColor'}`).form-wrapper
            form(method="POST", enctype="multipart/form-data")
                div.form-input-section
                    div
                        label(for="date") 날짜
                        input(placeholder="YYYY", id="date", name="date", type="date", value=`${item.createdAtStringDate}` required)
                        span 년
                    div
                        label(for="amount") 금액
                        input(placeholder="amount", id="amount", name="amount", type="text", value=`${item.amount}` required)
                        span 원
                    div 
                        label(for="category") 분류
                        select(id="category", name="category", required)
                            if itemType === "i"
                                each category of incomeCategories
                                    if item.category === category
                                        option(selected="selected" value=`${category}`) #{category}
                                    else
                                        option(value=`${category}`) #{category}
                            else 
                                each category of expenseCategories
                                    if item.category === category
                                        option(selected="selected" value=`${category}`) #{category}
                                    else
                                        option(value=`${category}`) #{category}
                    div 
                        label(for="description") 설명
                        input(placeholder="description", id="description", name="description", value=`${item.description}` type="text")
                    div 
                        label(for="cycle") 주기
                        select(id="cycle", name="cycle", value=`${item.cycle}` required)
                            option(value="정기성") 정기성
                            option(value="일회성") 일회성

                    if item.type === "e"
                        div 
                            label(for="paymentMethod") 지불 방식
                            select(id="paymentMethod", name="paymentMethod", value=`${item.paymentMethod}` required)
                                option(value="신용카드") 신용카드
                                option(value="체크카드") 체크카드
                                option(value="현금") 현금
                    div
                        label 사진
                        if item.imageUrl !== ""
                            img(src='/' + item.imageUrl).item-image.image-preview
                    div 
                        input(type="file", id="image", name="image", accept="image/*" data-id=item.imageUrl).image-upload
                div.form-button-section
                    input(type="submit", value="수정하기")

block scripts
    script(src="/assets/js/imagePreview.js") 