extends ../base.pug
include ./board-post-mixin.pug

block content
    div#board__wrap
        div#board-nav__wrap
            div.board-nav
                if boardName === "전체게시판"
                    a(href=`/board/전체게시판/1`).board-nav__link#board-nav__link__selected 전체게시판
                else 
                    a(href=`/board/전체게시판/1`).board-nav__link 전체게시판
            each board_name in boardList 
                div.board-nav
                    if boardName === board_name
                        a(href=`/board/${board_name}/1`).board-nav__link#board-nav__link__selected #{board_name}
                    else 
                        a(href=`/board/${board_name}/1`).board-nav__link #{board_name}

        div#board-header
            div.board-header__content#board-header__seq 글 번호
            div.board-header__content#board-header__board-name 게시판
            div.board-header__content#board-header__title 제목
            div.board-header__content#board-header__owner-name 작성자
            div.board-header__content#board-header__views 조회수
            div.board-header__content#board-header__likes 좋아요
            div.board-header__content#board-header__stringDate 작성일

        div#board-contents 
            if emptyFlag === true
                div#board-empty
                    span 아직 '#{boardName}' 탭에 작성된 글이 없습니다.
            else 
                ul#post-list
                    each post in postList
                        +list(post)

        include board-pagination.pug

        div#board-options__wrap
            div#board-options
                button.board-options__button
                    a(href="/post/add").board-options__button__link
                        i.fa-solid.fa-pen
                        span 글 쓰기

block scripts 
    script(src="/assets/js/pager.js") 