mixin list(post)
    li.post__wrap
        a(href=`/post/detail/${post._id}`).post__link 
            ul.post-contents__wrap
                li.post-content.post__seq #{post.seq}
                li.post-content.post__board-name #{post.board.name}
                li.post-content.post__title #{post.title}
                li.post-content.post__owner-name #{post.owner.name}
                li.post-content.post__views #{post.views}
                li.post-content.post__likes #{post.likesUserList.length}
                li.post-content.post__stringDate #{post.dateGap}