mixin list(post)
    div.post-mixins
        div.post-seq #{post.seq}
        div.post-board-name #{post.board.name}
        div.post-title
            a(href=`/post/detail/${post._id}`) #{post.title}
        div.post-owner-name 
            a(href=`/user/profile/${post.owner._id}`) #{post.owner.name}
        div.post-views #{post.views}
        div.post-stringDate #{post.dateGap}