extends ../base.pug
include ../mixins/board-list-post-mixins.pug

block content
    div#board-wrapper
        div#board-nav
            div 
                a(href=`/board/전체게시판/1`) 전체게시판
            each board_name in boardList 
                div
                    a(href=`/board/${board_name}/1`) #{board_name}

        div#board-header
            div 번호
            div 게시판
            div 제목
            div 조회수
            div 작성일
        div#board-main 
            if emptyFlag === true
                div.empty
                    span 아직 '#{boardName}' 탭에 작성된 글이 없습니다.
            else 
                ul
                    each post in postList
                        +list(post)
        div#board-pages(data-thispagenum=thisPageNum, data-lastpagenum=lastPageNum)
            div
                a(href=`/board/${boardName}/${thisPageNum-1}`).prevPageBtn <

            if thisPageNum-firstPageNum > 4  
                div 
                    a(href=`/board/${boardName}/${firstPageNum}`) #{firstPageNum}
                div #{`...`}

            -for (var i = 3; i > 0; i--)
                if thisPageNum-i > 0
                    div 
                        a(href=`/board/${boardName}/${thisPageNum-i}`) #{thisPageNum-i}

            div.thisPage
                a(href=`/board/${boardName}/${thisPageNum}`) #{thisPageNum}

            -for (var j = 1; j < 4; j++)
                if thisPageNum+j < lastPageNum+1
                    div 
                        a(href=`/board/${boardName}/${thisPageNum+j}`) #{thisPageNum+j}

            if lastPageNum-thisPageNum > 4  
                div #{`...`}
                div 
                    a(href=`/board/${boardName}/${lastPageNum}`) #{lastPageNum}

            div
                a(href=`/board/${boardName}/${thisPageNum+1}`).nextPageBtn >
        div#board-options
            button
                a(href="/post/add") 글 쓰기

block scripts 
    script(src="/assets/js/pager.js") 