mixin list(post)
    div.post
        div.post__seq #{post.seq}
        div.post__board-name #{post.board.name}
        div.post__title
            a(href=`/post/detail/${post._id}`) #{post.title}
        div.post__owner-name 
            a(href=`/user/profile/${post.owner._id}`) #{post.owner.name}
        div.post__views #{post.views}
        div.post__stringDate #{post.dateGap}