extends ../../base.pug

block content
    div#user-profile__wrap
        div#user-profile__top
            div#user-profile__top__left__wrap
                div#user-profile__user-image__wrap
                    img(src=user.avatarUrl)#user-profile__user-image
                div#user-profile__user-info
                    div#user-profile__user-nickname__wrap
                        span#user-profile__user-nickname #{user.nickname}
                    if isMyProfile 
                        div#user-profile__user-options
                            div.user-profile__user-option__wrap
                                a(href=`/user/edit-profile`).user-profile__user-option__link
                                    i.fa-solid.fa-user-pen
                                    span.user-profile__user-option__link__text 프로필 수정하기
                            div.user-profile__user-option__wrap
                                a(href=`/user/edit-password`).user-profile__user-option__link
                                    i.fa-solid.fa-pen-to-square
                                    span.user-profile__user-option__link__text 비밀번호 변경하기
                            div.user-profile__user-option__wrap
                                button.user-profile__user-option__link#user-profile__delete-account-button
                                    i.fa-solid.fa-right-from-bracket.warning
                                    span.user-profile__user-option__link__text.warning 회원 탈퇴
                    div.user-profile__user-history__wrap
                        span.user-profile__user-history 가입일 : #{joinDate}
                        span.user-profile__user-history 마지막 로그인 기록 : #{lastLoggedInDate}

            div#user-profile__top__right__wrap
                div#user-profile__user-contents
                    if isMyProfile
                        div.user-profile__user-content__wrap
                            a(href=`/ledger/${thisYear}/yearly/i`).user-profile__user-content__link
                                h3.user-profile__user-content__label 등록한 수입 내역
                                span.user-profile__user-content__data #{user.incomeList.length}개
                        div.user-profile__user-content__wrap
                            a(href=`/ledger/${thisYear}/yearly/e`).user-profile__user-content__link
                                h3.user-profile__user-content__label 등록한 지출 내역
                                span.user-profile__user-content__data #{user.expenseList.length}개
                    else 
                        div.user-profile__user-content__wrap
                            a(href="").user-profile__user-content__link
                                h3.user-profile__user-content__label 등록한 수입 내역
                                span.user-profile__user-content__data #{user.incomeList.length}개
                        div.user-profile__user-content__wrap
                            a(href="").user-profile__user-content__link
                                h3.user-profile__user-content__label 등록한 지출 내역
                                span.user-profile__user-content__data #{user.expenseList.length}개
                    if pageTitle.includes("작성 글")
                        div.user-profile__user-content__wrap.user-profile__user-content__wrap__clicked
                            a(href=`/user/own-posts/${user._id}`).user-profile__user-content__link
                                h3.user-profile__user-content__label 작성 글
                                span.user-profile__user-content__data #{user.postList.length}개
                    else
                        div.user-profile__user-content__wrap
                            a(href=`/user/own-posts/${user._id}`).user-profile__user-content__link
                                h3.user-profile__user-content__label 작성 글
                                span.user-profile__user-content__data #{user.postList.length}개
                    if pageTitle.includes("작성 댓글")
                        div.user-profile__user-content__wrap.user-profile__user-content__wrap__clicked
                            a(href=`/user/own-comments/${user._id}`).user-profile__user-content__link
                                h3.user-profile__user-content__label 작성 댓글
                                span.user-profile__user-content__data #{user.commentList.length}개
                    else 
                        div.user-profile__user-content__wrap
                            a(href=`/user/own-comments/${user._id}`).user-profile__user-content__link
                                h3.user-profile__user-content__label 작성 댓글
                                span.user-profile__user-content__data #{user.commentList.length}개

        div#user-profile__bottom
            if pageTitle.includes('작성 글')
                div.user-profile__user-posts
                    block user-posts
            else 
                div.user-profile__user-posts.hidden


            if pageTitle.includes('작성 댓글')
                div.user-profile__user-comments
                    block user-comments
            else
                div.user-profile__user-comments.hidden

block scripts
    script(src="/assets/js/user/user-profile.min.js") 