extends ../base.pug

block content
    div#detailPost-wrapper 
        div(data-id=post._id)#detailPost
            ul
                li
                    label 글 번호
                    span #{post.seq}
                li
                    label 게시판
                    span
                        a(href=`/board/${post.board.name}/1`) #{post.board.name}
                li
                    label 조회수
                    span #{post.views}
                li
                    label 좋아요
                    span #{post.likesUserList.length}
                li
                    label 제목
                    span #{post.title}
                li
                    label 글쓴이
                    span 
                        a(href=`/user/profile/${post.owner._id}`) #{post.owner.name}
                li
                    label 작성일
                    span #{post.stringFullDate}
                li
                    label 내용
                    textarea(readonly) #{post.content}

        div#detailPost-option
            div
                form(method="POST", action=`/post/increase-likes/${post._id}`)
                    input(type="submit", value="좋아요")
            div
                a(href=`/post/edit/${post._id}`) 수정
            div
                a(href=`/post/delete/${post._id}`) 삭제


        include ../comment/comment.pug

block scripts
    script(src="/assets/js/post.js") 