extends ../base.pug

block content
    div#detail-post__wrap
        div(data-post_id=post._id)#detail-post
            div#detail-post__infos__wrap
                div.detail-post__info__wrap
                    div#detail-post__board
                        a(href=`/board/${post.board.name}/1`)#detail-post__board__link #{post.board.name}
                div.detail-post__info__wrap#detail-post__title__wrap
                    div#detail-post__title #{post.title}
                    div#detail-post__date #{post.createdAtStringFullDate}
                div.detail-post__info__wrap
                    div#detail-post__owner
                        a(href=`/user/profile/${post.owner._id}`)#detail-post__owner__link
                            img(src=`/${post.owner.avatarUrl}`)#detail-post__owner-avatar
                            span#detail-post__owner-name #{post.owner.name}
                    div#detail-post__meta-infos__wrap
                        div#detail-post__views.detail-post__meta-info
                            label.detail-post__meta-info__label 조회 수 
                            span.detail-post__meta-info__span #{post.views}
                        div#detail-post__likes.detail-post__meta-info
                            label.detail-post__meta-info__label 좋아요 수 
                            span.detail-post__meta-info__span #{post.likesUserList.length}
                        div#detail-post__comments.detail-post__meta-info
                            label.detail-post__meta-info__label 댓글 수 
                            span.detail-post__meta-info__span #{post.commentList.length}
                div.detail-post__info__wrap
                    div#detail-post__url
                        a(href=`/post/detail/${post._id}`)#detail-post__link
                        button#detail-post__link__copy-button 복사
            div#detail-post__content__wrap
                pre#detail-post__content #{post.content}

            div#detail-post__options__wrap
                if String(post.owner._id) === String(loggedInUser._id)
                    div.detail-post__option__wrap
                        a(href=`/post/edit/${post._id}`).detail-post__option-link
                            i.fa-solid.fa-pen-to-square
                            span.detail-post__option-span 수정
                    div.detail-post__option__wrap
                        button#detail-post__delete-button.detail-post__option-button
                            i.fa-solid.fa-trash-can
                            span.detail-post__option-span 삭제
                else
                    div.detail-post__option__wrap
                        if alreadyLiked
                            button#detail-post__like-button.detail-post__option-button 😅 좋아요 취소
                        else 
                            button#detail-post__like-button.detail-post__option-button 😄 좋아요


            include ../comment/comment.pug

block scripts
    script(src="/assets/js/post.js") 
    script(src="/assets/js/comment.js") 