extends ../base.pug

block content
    div#detailPost-wrapper 
        div(data-post_id=post._id)#detailPost
            div#post-board-name
                span
                    a(href=`/board/${post.board.name}/1`) #{post.board.name}
            div#post-title
                span #{post.title}
            div#post-meta
                div#post-owner
                    span 
                        a(href=`/user/profile/${post.owner._id}`) #{post.owner.name}
                div#post-views
                    label 조회수
                    span #{post.views}
                div#post-likes
                    label 좋아요
                    span #{post.likesUserList.length}
                div#post-stringFullDate
                    span #{post.createdAtStringFullDate}
            div#post-content
                textarea(readonly) #{post.content}

        div#detailPost-option
            if String(post.owner._id) === String(loggedInUser._id)
                div
                    a(href=`/post/edit/${post._id}`) 수정
                div
                    form(method="POST", action=`/post/delete/${post._id}`)
                        input(type="submit", value="삭제")
            else
                div
                    form(method="POST", action=`/post/increase-likes/${post._id}`)
                        input(type="submit", value="좋아요")


        include ../comment/comment.pug

block scripts
    script(src="/assets/js/post.js") 
    script(src="/assets/js/comment.js") 