extends ../../base.pug

block content
    div.container
        div#detail-item__wrap(data-item=item)
            div#detail-item__options__wrap(style=`background-color: ${item.type === "i" ? '#00a8ff' : '#ff7043'}`)
                ul#detail-item__options
                    li.detail-item__options__option
                        if item.pinned === true 
                            button#detail-item__pin-button
                                i.fa-solid.fa-star#detail-item__pin-icon.detail-item__pinned-item__pin-button
                        if item.pinned === false
                            button#detail-item__pin-button
                                i.fa-regular.fa-star#detail-item__pin-icon

                    li.detail-item__options__option
                        button
                            a(href=`/item/edit/${item.type}/${item.id}`)
                                i.fa-solid.fa-pen-to-square#detail-item__edit-icon

                    li.detail-item__options__option
                        button#detail-item__delete-button
                            i.fa-solid.fa-trash-can#detail-item__delete-icon

            div#detail-item__contents__wrap
                ul(class=`${item.type === "i" ? 'income-bgcolor-deep' : 'expense-bgcolor-deep'}`)#detail-item__contents
                    li.detail-item__contents__item
                        if item.type === "i"
                            label.detail-item__contents__item__label 수입일
                        else
                            label.detail-item__contents__item__label 지출일 
                        span.detail-item__contents__item__span #{item.stringDate}
                    li.detail-item__contents__item
                        if item.type === "i"
                            label.detail-item__contents__item__label 수입 금액
                        else
                            label.detail-item__contents__item__label 지출 금액
                        span.detail-item__contents__item__span #{item.amount.toLocaleString() + '원'}
                    li.detail-item__contents__item#detail-item__contents__item__description
                        label.detail-item__contents__item__label 설명
                        pre.detail-item__contents__item__pre=item.description
                    li.detail-item__contents__item
                        label.detail-item__contents__item__label 분류
                        span.detail-item__contents__item__span=item.category
                    li.detail-item__contents__item
                        label.detail-item__contents__item__label 주기
                        span.detail-item__contents__item__span=item.cycle

                    if item.type === "e"
                        li.detail-item__contents__item
                            label.detail-item__contents__item__label 지불 방식
                            span.detail-item__contents__item__span=item.paymentMethod

                    li.detail-item__contents__item#detail-item__contents__item__image
                        label.detail-item__contents__item__label 사진
                        span.detail-item__contents__item__span
                            if item.imageUrl !== ""
                                img(src=item.imageUrl)#detail-item__contents__item__image__image
block scripts
    script(src="/assets/js/detail-item.js") 