div#ledger-calendar
    ul
        li
            a(href=`/ledger/${prevStringDate}/${cycle}`) <
        li
            a(href=`/ledger/${todayStringDate}/${cycle}`) #{todayStringDate}
        li
            a(href=`/ledger/${nextStringDate}/${cycle}`) >