div#ledger-calendar
    ul
        li
            a(href=`/ledger/${prev}/${cycle}`) <
        li
            a(href=`/ledger/${now}/${cycle}`) #{now}
        li
            a(href=`/ledger/${next}/${cycle}`) >