div#ledger-nav
    ul
        li
            a(href=`/ledger/${thisYear}-${thisMonth}-${thisDay}/daily`) 일별
        li
            a(href=`/ledger/${thisYear}-${thisMonth}-${thisDay}/weekly`) 주별
        li
            a(href=`/ledger/${thisYear}-${thisMonth}/monthly`) 월별
        li
            a(href=`/ledger/${thisYear}/yearly`) 연도별