extends ../base.pug
include ledger-item-mixin.pug

block content 
    div#ledger__wrap
        a(href="/item/add/i")#add-item__button
            i.fa-solid.fa-plus

        include ledger-nav.pug

        include ledger-calendar.pug

        div#ledger-content
            div#ledger-content__header
                div#ledger-total
                    ul#ledger-total__item-list
                        li.ledger-total__item
                            span.ledger-total__item__span.income-color-deep #{'총 수입액 : +' + stringSumIncomeAmount + '원'} 
                        li.ledger-total__item
                            span.ledger-total__item__span.expense-color-deep #{'총 지출액 : -' + stringSumExpenseAmount + '원'}
                        li.ledger-total__item
                            span(class=`${gap !== 0 ? gap > 0 ? 'plus-color' : 'minus-color' : ''}`).ledger-total__item__span  #{'합계 : ' + (gap !== 0 ? gap > 0 ? '+' : '-' : '') + (stringAbsGap) + '원'}
                div#ledger-options
                    ul#ledger-options__item-list
                        li.ledger-options__item
                            if itemType === "all"
                                a(href=`/ledger/${now}/${cycle}/all`).ledger-options__item__link.ledger-options__item__link__all#ledger-options__item__clicked 전체
                            else 
                                a(href=`/ledger/${now}/${cycle}/all`).ledger-options__item__link.ledger-options__item__link__all 전체
                        li.ledger-options__item
                            if itemType === "i"
                                a(href=`/ledger/${now}/${cycle}/i`).ledger-options__item__link.income-bgcolor-deep#ledger-options__item__clicked 수입
                            else
                                a(href=`/ledger/${now}/${cycle}/i`).ledger-options__item__link.income-bgcolor-deep 수입
                        li.ledger-options__item
                            if itemType === "e"
                                a(href=`/ledger/${now}/${cycle}/e`).ledger-options__item__link.expense-bgcolor-deep#ledger-options__item__clicked 지출
                            else
                                a(href=`/ledger/${now}/${cycle}/e`).ledger-options__item__link.expense-bgcolor-deep 지출

            div#ledger-list__wrap
                div#ledger-list__header
                    div#ledger-list__header__list
                        span.ledger-list__header__item#ledger-list__header__item__date 수입/지출일
                        span.ledger-list__header__item#ledger-list__header__item__amount 금액
                        span.ledger-list__header__item#ledger-list__header__item__category 분류
                        span.ledger-list__header__item#ledger-list__header__item__description 설명
                        span.ledger-list__header__item#ledger-list__header__item__cycle 주기
                ul#ledger-list
                    each item in itemList
                        +list(item)