div#ledger-calendar
    ul#ledger-calendar__item-list
        li.ledger-calendar__item
            a(href=`/ledger/${prevCalendar}/${cycle}/${itemType}`).ledger-calendar__item-link
                i.ledger-calendar__item-link-icon.fa-solid.fa-angle-left
        li.ledger-calendar__item
            a(href="")
                span.ledger-calendar__item__date #{calendarTitle}
        li.ledger-calendar__item
            a(href=`/ledger/${nextCalendar}/${cycle}/${itemType}`).ledger-calendar__item-link
                i.ledger-calendar__item-link-icon.fa-solid.fa-angle-right
