extends ../base.pug

block content 
    div#profile-wrapper 
        div#profile
            div#profile-username 
                h3 아이디
                textarea(readonly) #{user.username}
            div#profile-name 
                h3 이름
                textarea(readonly) #{user.name}
            div#profile-nickname 
                h3 닉네임
                textarea(readonly) #{user.nickname}
            div#profile-email 
                h3 이메일
                textarea(readonly) #{user.email}
            div#profile-socialAccount 
                h3 소셜 계정 여부
                textarea(readonly) #{user.socialAccount === true ? "Y" : "N"}
            div#profile-image
                h3 프로필 사진
                img(src="/" + user.avatarUrl).user-avatar

        if isMyProfile 
            div#profile-options
                a(href=`/user/edit-profile/${user._id}`) 프로필 수정하기
                a(href=`/user/edit-password/${user._id}`) 비밀번호 변경하기
