mixin list(post)
    tr(onclick=`location.href='/post/detail/${post._id}'` style="cursor:pointer").user-own-posts__post-table__tbody__tr
        td.user-own-posts__post-table__tbody__tr__td #{post.stringDate}
        td.user-own-posts__post-table__tbody__tr__td#user-own-posts__post-table__tbody__tr__td__title #{post.title}
        td.user-own-posts__post-table__tbody__tr__td #{post.views}
        td.user-own-posts__post-table__tbody__tr__td #{post.likesUserList.length}