mixin list(comment)
    div#comment(data-comment_id=comment._id)
        div#comment-main
            span #{comment.owner.name}
            span #{comment.content}
            textarea.comment-content-edit-textarea.hidden #{comment.content}
            span #{comment.createdAtStringFullDate}
            span #{comment.likes}
        div#comment-options
            if String(comment.owner._id) === String(loggedInUser._id)
                button.comment-edit-btn 수정
                button.comment-delete-btn
                    form(method="POST", action=`/comment/delete/${comment.post._id}/${comment._id}`)
                        input(type="submit", value="삭제")
                button.comment-edit-confirm-btn.hidden 확정
                button.comment-edit-cancel-btn.hidden 취소
            else
                button.comment-likes-btn
                    form(method="POST", action=`/comment/increase-likes/${comment.post._id}/${comment._id}`)
                        input(type="submit", value="좋아요")

            span 좋아요 #{comment.likesUserList.length}